@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
:root{
    --dazzle:#415A77;
    --soft:#778DA9;
    --platinum:#E0E1DD;
}

body{
    width: auto;
    height: auto;
    background-color: var(--platinum) !important;
    font-family: 'Poppins', sans-serif !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: var(--white);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--soft);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

a{
    color:var(--dazzle) !important;
}

.btn-primary{
    background-color: var(--soft) !important;
    border-color: var(--platinum) !important;
    color:  white  !important;
}

footer a{
    text-decoration: none !important;
    color: white !important;
}

.navbar{
    background-color: var(--dazzle) !important;
    font-family: 'Poppins', sans-serif !important;

}

.nav-item a{
    width: 120px;
    color: white !important;
}


.dropdown a{
    width: inherit !important;
    color: white !important;
}

.right{
    width:fit-content;
}

.mid{
    width: max-content;
}

.mid span{
    background-color: var(--soft) !important;
}

i{
    color: white !important;
}

.left{
    width: fit-content;
}

#search-addon{
    background-color: var(--soft) !important;
}
/*FOOTER*/


footer .card-item {
    background-color: var(--dazzle) !important;
    color: white;
    margin-top: 50px;
    border: none
}

.card-footer-wrap .bdr {
    border-bottom: 1.5px solid var(--platinum);
    width: 100px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto
}

.card-footer-wrap .card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.5px solid #9E9E9E
}

.card-footer-wrap .footer-right>i {
    margin-left: 15px
}

.card-footer-wrap .footer-stuffs{
    line-height: 40px;
}

.card-footer-wrap .card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 20px;
    margin-top: 1.75rem;
    letter-spacing: 1.5px;
}

.card-footer-wrap .learn-more {
    color: #FFB74D
}

.card-footer-wrap .fa-angle-right {
    margin-left: 10px
}

.card-footer-wrap .card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px
}

.card-footer-wrap .card-content>p {
    color: white;
}

.card-footer-wrap .heading {
    position: relative;
    top: 75px;
}

.follow-text {
    color: white;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.chat-box .chat-button{
    width:60px;
    height: 60px;
    background-color: var(--dazzle);;
    color: white;
    padding:13px;
    vertical-align: middle;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index:10;
    border-radius: 100%;
}

.chat-button i{
    font-size:  30px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 15;
}

.message-list{
  overflow-y: auto;
  max-height: 250px;
}

.chat{
  color :black !important;
  background-color: var(--platinum) !important;
  width: inherit;
  margin: 8px auto !important;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px !important;
}

.chat-box .card-body p{
  margin: .05px;
}

.chat-box .form-container {
  min-width: 250px;
  padding: 30px;
  background-color: var(--soft);
  position: fixed;
  bottom: 20px;
  right: 95px;
  border-radius: 10px;
  color:white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 70px;
  border-radius: 10px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: var(--dazzle);
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 1;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 0.8;
}