@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
    --dazzle:#415A77;
    --soft:#778DA9;
    --platinum:#E0E1DD;
}

body{
    width: auto;
    height: auto;
    background-color: var(--platinum) !important;
    font-family: 'Poppins', sans-serif !important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

footer a{
    text-decoration: none !important;
    color: white !important;
}


.navbar{
    background-color: var(--dazzle) !important;
    font-family: 'Poppins', sans-serif !important;
}

.nav-item a{
    width: 120px;
    color: white !important;
}

.right{
    width:fit-content;
}

.mid{
    width: max-content;
}

.mid span{
    background-color: var(--soft) !important;
}

i{
    color: white !important;
}

.left{
    width: fit-content;
}

/*FOOTER*/


.card {
    background-color: var(--dazzle) !important;
    color: white;
    margin-top: 50px;
    border: none
}

.bdr {
    border-bottom: 1.5px solid var(--platinum);
    width: 100px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto
}

.card-footer {
    justify-content: space-between;
    border: none;
    background: none;
    border-bottom: 0.5px solid #9E9E9E
}

.footer-right>i {
    margin-left: 15px
}

.footer-stuffs{
    line-height: 40px;
}

.fa-hand-holding-usd {
    color: #FFB74D
}

.fa-handshake {
    color: #FFB74D
}

.card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 20px;
    margin-top: 1.75rem;
    letter-spacing: 1.5px;
}

.learn-more {
    color: #FFB74D
}

.fa-angle-right {
    margin-left: 10px
}

.fa-3x {
    color: #FFB74D
}

.card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px
}

.card-content>p {
    color: white;
}

.heading {
    position: relative;
    top: 75px
}

.follow-text {
    color: white;
}
