@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

:root {
    --dazzle: #415a77;
    --soft: #778da9;
    --platinum: #e0e1dd;
}

.vl {
    border-left: 2px solid var(--soft);
    height: inherit;
}

.sidebar {
    margin: 10px;
    padding: 20px;
}

h5,
h2 {
    color: var(--dazzle) !important;
}

.form-check {
    margin: 10px auto;
}

.card-group {
    margin: auto 5px !important;
}

.card-title-k {
    margin-top: 0;
    color: var(--dazzle) !important;
}

.katalog .card-title,
.card-text,
.harga,
.rating,
.stok {
    color: black !important;
}

.katalog .card-title-k {
    font-size: 18px !important;
    font-weight: 800 !important;
    letter-spacing: 1px;
}

.katalog .card-item {
    min-width: 16.5rem;
    max-width: 16.5rem;
    border-radius: 10px !important;
    background: linear-gradient(330deg, #ffffff, var(--platinum));
    box-shadow: 9px 9px 7px #c4c4c4;
}

.katalog .img-item {
    height: 14rem;
    width: 14rem;
    border-radius: 10px;
}

.katalog .icon {
    height: 32px;
    width: 32px;
}

.katalog .icon,
.katalog .text-icon {
    display: inline-block;
}

.katalog .btn-bottom {
    width: inherit !important;
    display: block;
    background-color: #415a77;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none !important;
    color: white !important;
}